html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
}
/*==== BACKGROUND IMAGE ====*/

body{
  background: url(assets/freedom.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: hsla(360, 0%, 13%, 0.9);
}


/*==== FONTS ====*/

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.5rem;  
}

.h2 {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-size: 1.5rem;
}


/*==== TEXT POSITIONING AND STYLING ====*/

.wrapper {
  text-align: center;
  padding-top: 4rem;
  margin: 0 auto;
  width: 90%;
}
