body{
  background: url(assets/freedom.jpg) center no-repeat;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
}

h2 {
  font-family: 'Crimson Text', serif;
}

.main-quote {
  display: table;
}

.wrapper{
  display: table-cell;
}
